<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.jwt.mapper.StudentMapper">
    <resultMap id="StudentResultMap" type="org.example.jwt.entity.Student">
        <id property="studentId" column="student_id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>
    <select id="findAllMapper" resultMap="StudentResultMap">
        SELECT student_id, name, age, sex
        FROM student
    </select>
    <select id="findByIdMapper" resultMap="StudentResultMap">
        SELECT student_id, name, age, sex
        FROM student WHERE student_id = #{studentId}
    </select>
    <select id="findByNameMapper" resultMap="StudentResultMap">
        SELECT student_id, name, age, sex
        FROM student WHERE name = #{name}
    </select>
    <select id="findSexMapper" resultMap="StudentResultMap">
        SELECT student_id, name, age, sex
        FROM student WHERE sex = #{sex}
    </select>
    <select id="selectByCursor" resultMap="StudentResultMap">
        SELECT student_id, name, age, sex
        FROM student
        WHERE is_deleted = 0 AND student_id > #{cursor}
        ORDER BY student_id ASC
        LIMIT #{size}
    </select>

    <insert id="batchInsert" >
        INSERT INTO student (student_no, name, sex, age, version) VALUES
        <foreach collection="batch" item="s" separator=",">
            (#{s.studentNo}, #{s.name}, #{s.sex}, #{s.age}, 0)
        </foreach>
    </insert>
</mapper>